@import "tailwindcss";

@keyframes halfOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.orbit-container {
  animation: halfOrbit 10s linear infinite;
  transform-origin: center bottom;
}
